@page "/fetchdata"

@using Microsoft.Extensions.Logging
@using Microsoft.AspNetCore.Http
@using global::com.github.akovac35.Logging.AspNetCore
@using global::com.github.akovac35.Logging
@using global::Shared.Services

@using static global::com.github.akovac35.Logging.LoggerHelper<WebApp.Pages.FetchData>

@inject IHttpContextAccessor hc
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>Correlation id:  @hc.GetCorrelationId()</p>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        Here(l => l.Entering());

        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        Here(l => l.LogInformation("forecasts: {@forecasts}", forecasts));

        Here(l => l.Exiting());
    }
}
